**/node_modules
**/__pycache__
**/data
**/build
**/dist
**/logs
**/images
**/coverage
**/.venv


**/test_*
**/main.py
**/test.py
**/script.py
**/scratch.py
**/notes.txt
**/xnotes.txt
**/xtask.txt
**/box.txt
**/requirement.txt
**/package-lock.json


**/*.spec
**/*.exe
**/*.rar
**/*.log
**/*.png
**/*.zip
**/*.cfg


**/pyscripts
**/out
